1st Deliverable Archives/
*.Rhistory
.RDataTmp
SharePoint.lnk
Data/defense_contract_CSIScontractID_detail.zip
.RData
Data/defense_contract_CSIScontractID_detail.csv
Data/defense_contract_CSIScontractID_model.csv
*.db
.Rproj.user
LargeDatasets/

Data/Contract\.SP_ContractCompetitionVehicleCustomer\.txt

Data/Contract\.SP_ContractLocationCustomer\.txt

Data/Contract\.SP_ContractTopPSCofficeNAICS\.txt

Data/Contract\.SP_ContractPricingCustomer\.txt

Data/Contract_SP_ContractUnmodifiedCompetitionVehicleCustomer\.txt

Data/Federal_contract_CSIScontractID_detail\.csv

\.RDataTmp1

Data/Contract\.SP_ContractSampleCriteriaDetailsCustomer\.txt

Data/Contract\.SP_ContractUnmodifiedandOutcomeDetailsCustomer\.txt
